<h1>Cai dat lai mat khau</h1>
<p>De cai lai mat khau hay nhan vao link ben duoi</p>
<%= link_to "Cai lai mat khau", edit_password_reset_url(@user.reset_token,
  email: @user.email) %>
<p>Link se het han trong vong <%= Settings.time_link_expire %> gio</p>
<p>
  Neu ban khong yeu cau cai lai mat khau, hay bo qua thu nay va mat khau ban
  se ko thay doi
</p>
